
.navbar-nav .nav-link {
color: #fff
}
.drop-menu {
    background-color: #198754;
}

.dropend .dropdown-toggle {
color: salmon;
margin-left: 1em;
}
.dropdown-item:hover {
background-color: lightsalmon;
color: #fff;
}
.dropdown .dropdown-menu {
display: none;
background-color: #198754;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
display: block;
margin-top: 0.125em;
margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
}
.dropend .dropdown-toggle {
    margin-left: 0.5em;
}
}
